*

# But not these files...
!.gitignore
!pc2ri.py
!generate_dataset.py
!generate_dataset_2.py
!generate_dataset_3.py
!generate_dataset_4.py
!generate_train_val_rand.py
!visual_data.py
!generate_dataset_5.py
!metrics_computation.py
!visual_results_compare.py
